.punto-tactico {
    background-color: #ff0000;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 8px red;
    width: 100%;
    height: 100%;
}

.icono-camara {
    background-color: #0088ff;
    border-radius: 3px;
    border: 2px solid white;
    box-shadow: 0 0 8px #0088ff;
    width: 100%;
    height: 100%;
}